

 .CustomerDetailsPage-root-container{
    overflow: hidden;
    background-color: #296EB4;
    font-family: 'Montserrat', sans-serif;
}

.CustomerDetailsPage-layer-1 img{
    right: -10px;
    top: -81px;
    position: relative;
    height: 100vh;
}
.CustomerDetailsPage-layer-2{
    background-color: rgba(41, 110, 180, 0.62);
    position: fixed;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
}

.CustomerDetailsPage-layer-2 h4{
    color: #ffffff;
    margin-top: 10px;
    margin-left: 5%;
}
.CustomerDetailsPage-layer-2-underline{
    width: 40px;
    height: 5px;
    background-color: #FDB833;
    margin-left: 5%;
}

.CustomerDetailsPage-search-box{
    background-color: #F8F8F8;
    margin: 20px 5%;
}

.CustomerDetailsPage-search-input{
    border: none;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
}

.CustomerDetailsPage-search-box{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #ABA4A4;
}

.CustomerDetailsPage-search-box div {
    margin: 0px 5px;
}

.CustomerDetailsPage-search-box-and-list-container{
    position: relative;
}

.CustomerDetailsPage_SearchResultListContainer{
    background-color: #efefef;
    position: absolute;
    top: 47px;
    width: 90%;
    left: 5%;
    height: 60vh;
    overflow-y: scroll;
    z-index: 5;
}


.CustomerDetailsPage_details_card{
    background-color: #efefef;
    margin: 5%;
    padding: 20px 20px 30px 20px;
}

.CustomerDetailsPage_details_card span{
    font-weight: 600;
}

.CustomerDetailsPage_details_card label {
    color: #0000ff;
}

.loading-table-CustomerDetailPage{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFA500;
    color: #ffffff;
    padding: 10px;
}