.SelectRollStatusRowWise-root-container{
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.SelectRollStatusRowWise-root-container label{
   background-color: #000000;
   padding: 15px 15px;
   margin: 0px;
}

.WorkDetailPage-popup-inner{
    color: #ffffff;
}