.Sidebar-root-container {
    background-color: #00000080;
    display: flex;
    position: fixed;
    height: 100vh;
    top: 0px;
    width: 100%;
    left: 0px;
    z-index: 2;
}

.Sidebar-left-container {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
}


.Sidebar-right-container {
    background-color: #ffffff;
    width: 50%;
    max-width: 300px;
    margin-left: auto;
}

.Cart-sidebar-image-name-container {
    display: flex;
    flex-direction: row;
}

.Cart-sidebar-image {
    width: 30%;
    border: 1px solid #ececec;
}

.Cart-sidebar-product-name {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 300;
}

.Cart-sidebar-total-label {
    font-size: 14px;
    font-weight: 400;
    color: #767676;
}

.Cart-sidebar-cta-container {
    display: flex;
    justify-content: space-between;
}

.Cart-sidebar-total-and-value {
    display: flex;
    justify-content: space-between;
}

.Cart-sidebar-added-to-cart-label {
    width: 25px;
}
.Cart-sidebar-added-to-cart-paragraph{
    display: flex;
    align-items: center;
    font-weight: 300;
    font-size: 15px;
}

.Cart-sidebar-checkout {
    flex-grow: 1;
    border: 1px solid #eaeaea;
    font-size: 12px;
}

.Cart-sidebar-continue-shopping{
    border: 1px solid #eaeaea;
    font-size: 12px;
}

.Logout-popup-root-container{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Logout-popup-inner-container{
    padding: 10px;
    background-color: #ffffff;    
    width: 50%;
    max-width: 300px;
}

.Logout-cta-container {
    display: flex;
    justify-content: right;
}
@media (max-width:575.98px) {
   

    .Sidebar-right-container {
        background-color: #ffffff;
        width: 100%;
    }

    .Cart-sidebar-image {
        width: 25%;
        border: 1px solid #ececec;
    }

    .Cart-sidebar-image-name-container {
        display: flex;
        flex-direction: row;
    }

}