.task_history_single_item {
    background-color: aliceblue;
    padding: 3px 20px;
    margin: 5px 2px;
    border-radius: 5px;
}

.history_list_item_single_wrapper {
    display: flex;
    align-items: center;
    border-left: 3px dashed #f0f0f0;
    margin-left: 20px;
}

.history_line_path_icon {
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 0;
    position: relative;
    left: -25px;
    padding: 6px 6px;
    border-radius: 50%;
    border: 2px solid #f7f7f7;
}

.history_label {
    color: #8d785c;
    font-weight: 300;
}

.history_label_date_time {
    background-color: #ffffff;
    border: 4px solid white;
    border-radius: 5px;
    left: -20px;
    position: relative;
    font-size: 14px;
    color: #808080;
}

.date_time_label_chip {
    display: flex;
    margin-top: 18px;
}

.code_list_container {
    background-color: #f7f7f7;
    width: 200px;
    height: 200px;
    overflow-y: scroll;
    position: absolute;
    z-index: 3;
    padding: 15px 0px;
}

.code_list_container p {
    padding: 2px 20px;
}

.input_description {
    border: none;
    outline: none;
    border-bottom: 2px solid #cac3c6;
    padding: 6px 10px;
}

.option_dropdown {
    width: 20px;
    background-color: #f7f7f7;
    border-radius: 50%;
}

.status_and_stage_container {
    padding: 20px;
    background-color: ghostwhite;
    border-radius: 5px;
    border: 2px solid #f3f3f3;
}

.status_stage_card {
    margin-left: -20px;
}

.taskview_details_grid {
    display: grid;
    justify-content: space-around;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.taskview_details_grid div {
    background-color: #ffffff;
    box-shadow: 0px 1px 5px #eaeaea;
    padding: 5px 10px;
    position: relative;
}

.prioriy_image {
    position: absolute;
    top: 3px;
    right: -3px;
    width: 30px;
}

.history_label_by_who {
    background-color: #ffffff;
    border: 4px solid white;
    border-radius: 5px;
    left: -20px;
    position: relative;
    font-size: 14px;
    color: #6a1616;
    font-weight: 600;
}

.TaskDetailView-status-chip {
    background-color: #f1f1f1;
    padding: 2px 10px;
    border-radius: 5px;
    margin: 2px;
    border: 1px solid #e5e5e5;
    display: flex;
    align-items: center;
}

.TaskDetailViewStaff-image-inside-chip {
    width: 20px;
    height: 20px;
}

.TaskDetailViewStaff-selected-chip  {
    background-color: darkslateblue;
    color: #ffffff;
}