.WorkDetailPage-root-container {
    font-family: 'Fira Sans', sans-serif;
    background-color: #000000;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    padding-bottom: 40px;
}
.WorkDetailPage-table-holder{
    overflow: scroll;
}
.WorkDetailPage-table {
    background-color: #ffffff;
    width: 100%;
    margin-top: 10px;
    border: 1px solid #f7f7f7;
    border-style:hidden;
}

.WorkDetailPage-table thead tr th div img {
    width: 50px;
    margin-bottom: 10px;
}

.WorkDetailPage-table thead tr th div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WorkDetailPage-table tbody tr:nth-child(even) {
    background-color: cadetblue;
    padding: 4px;
    color: #ffffff;
    text-align: center;
    white-space: nowrap;
}

.WorkDetailPage-table tbody tr:nth-child(odd) {
    background-color: azure;
    padding: 4px;
    color: #000000;
    text-align: center;
    white-space: nowrap;
}

.WorkDetailPage-table tbody tr td div {
    padding: 14px 5px;
}


.WorkDetailPage-table thead tr th div {
    padding: 20px 4px;
}

.WorkDetailPage-update-status {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(40deg, #337d76 0%, rgb(40 148 138 / 100%) 100%);
    position: relative;
}
.WorkDetailPage-update-status-abstract-lines {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 0px;
    width: 100%;
}

.WorkDetailPage-update-status-top-layer {
    position: relative;
    z-index: 2;
}
.WorkDetailPage-update-status button img {
    width: 20px;
}



.WorkDetailPage-scanned {
    border: 2px solid green;
    border-radius: 5px;
    padding: 3px 5px;
    color: #000;
    background-color: rgba(255, 255, 255);
    position: relative;
}

.WorkDetailPage-rescan {
    border: 2px solid rgb(180, 28, 8);
    border-radius: 5px;
    padding: 3px 5px;
    color: #000;
    background-color: rgba(255, 255, 255);
    position: relative;
}

.WorkDetailPage-rescan img {
    width: 20px;
}

.Work-Details-Save-button{
    width: 150px;
    height: 50px;
}

.WorkDetailPage-input-issued-qty{
    width: 80px;
    background-color: #ffffff;
}

.WorkDetailPage-input-cutting-person-remark {
    width: 150px;
    background-color: #ffffff;
}

.WorkDetailPage-scanned img {
    width: 20px;
}


.WorkDetailPage-status-changing-button img {
    width: 20px;
}

.WorkDetailPage-popup-outer{
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    background-color: #00000080;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.WorkDetailPage-popup-inner{
    width: 100%;
    max-width: 300px;
    background-color: #353535;
    max-height: 600px;
    overflow-y: scroll;
}

.WorkDetailPage-popup-root-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
}
.saved-status-popup-inner-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    justify-content: center;
    padding: 4px;
}
.saved-status-popup-inner-container img{
    width: 40px;
}


/* .WorkDetailPage-quantity-plus-minus-container span{
    width: 30%;
    display: inline-block;
    background-color: #00000026;
    border-radius: 5px;
} */


.WorkDetailPage-minus-quantity-selection{
    background-color: #00000090;
    padding: 4px 0px;
}

.WorkDetailPage-minus-quantity-selection label{
    color: #ffffff;
}

.WorkDetailPage-minus-quantity-selection img{
    width: 20px;
}

.WorkDetailPage-quantity-plus-minus-container span img{
    width: 100%;
    height: 20px;
    object-fit: contain;
}

.Workdetailpage_no_data_container{
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
}
