.LQWrapper {
    width: 100%;
}

.LQCont {
    width: 100%;
    /* background-color: #E13531; */
    background-color: white;
    min-height: 50vh;
    padding: 8px;
}

.LDQText {
    display: flex;
    justify-content: left;
    border-bottom: 1px solid salmon;
    /* padding: 8px; */
}

.LQText {
    text-align: left;
    margin-top: 12px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    margin-left: 14px;
}

.LQMainBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12px;
}

.LQItemCont {
    width: 85%;
    display: flex;
    flex-direction: column;
    background-color: #ececec;
    padding: 8px;
    border-radius: 4px;
    align-items: center;
    margin-bottom: 12px;
}

.LQItemTop {
    width: 100%;
}

.LQiItemTopText {
    text-align: left;
    margin: 4px;
    display: flex;
    justify-content: space-between;
}

.LQiItemTopText>div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.BkAmnt,
.BkAmntNums {
    display: flex;
    justify-content: space-between;
    margin: 4px;
}

.LQItemBott {
    width: 95%;
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: white;
    padding: 8px;
}


.LQItemBott div {
    text-align: left;
    margin: 4px;
}

.LQIBLabel {
    color: grey;
    font-size: 14px;
}

.LQIBData {
    font-size: 15px;
    font-weight: bold;
}

.menuImg {
    width: 20px;
    height: 20px;
}

#LQModalOkBox {
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.LQModalCrossBox {
    height: 100%;
    width: 100%;
}

.ModalBox {
    height: 50%;
}

.css-6pwcu0 {
    width: auto !important;
}

.DownArrow>svg {
    cursor: pointer;
}

@media (max-width:460px) {
    .css-6pwcu0 {
        width: 93% !important;
    }
}