.AttendanceWrapper {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
}

.AttendancsFilterHead {
    display: flex;
    justify-content: center;
    width: 100%;
}

.AttendanceFilterCont {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.AttendanceCont {
    height: 250px;
    /* width: 280px; */
    display: flex;
    justify-content: center;
}

.AttendanceViewMore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
}

.AttendanceViewMore>span {
    background-color: #2485FA;
    color: white;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 12px;
}

.AttendanceViewMore>span:hover {
    background-color: #4b9cff;
    cursor: pointer;
}