.AttendanceOverWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.LeaveCompHead {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid blue;
}

.AttendanceOverCont {
    width: 100%;
    height: 100%;
}

.AttendanceOverHead {
    width: 100%;
    padding: 2px 0px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid cyan;
}

.AOYear {
    padding: 0px 4px;
    border-radius: 2px;
    background-color: cyan;
    color: black;
}

.ChartOuter {
    width: 100% !important;
    overflow-x: auto;
}

@media (max-width:500px) {

    .ChartOuter {
        width: 100% !important;
        overflow-x: auto;
    }
}