.BirthDayWrapper {
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    align-items: center;
    justify-content: center;
    background-color: white;
    /* width: 300px; */
    padding: 8px;
}

.BirthDayCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.BDayHead {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #689F38;
}

.BDayDataCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.BDayDataItem {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
    border-bottom: 1px solid rgb(232, 232, 232);
    padding-bottom: 8px;
}

.BDayDataLeft {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 44%; */
}

.BDayProfileImg {
    width: 36px;
    height: 36px;
}

.BDayNameDate {
    font-size: 14px;
    text-align: left;
    margin-left: 8px;
}

.BDayDate {
    font-size: 11px;
}

.BDayDataRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}

.BDayMail {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #689F38;
    /* padding: 4px; */
    color: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.BDayPeople {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FBC02D;
    /* padding: 4px; */
    color: white;
    border-radius: 50%;
    height: 24px;
    width: 24px;
    cursor: pointer;
}

.TodayBday {
    padding: 4px 8px;
    border-radius: 2px;
    margin-left: 18px;
    font-size: 12px;
    background-color: #D7FDD4;
    color: #0C9A02;
}