.BoxWrapper {
    display: flex;
    background-color: white;
    height: 100%;
    padding: 4px;
    /* width: 30%; */
    justify-content: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    /* align-items: center; */
}

.BoxCont {
    display: flex;
    flex-direction: column;
    /* height: fit-content; */
    width: 100%;
}

.BoxHead {
    display: flex;
    font-size: 14px;
    justify-content: center;
    margin-bottom: 10px;
}

.BoxHeadInner {
    width: 35%;
    display: flex;
    justify-content: space-evenly;
}

/* .BoxIcon {
    padding: 2px;
    background-color: #2011F0;
    border-radius: 2px;
    color: white;
}

.BoxText {
    color: #2011F0;
} */

.BoxData {
    display: flex;
    font-size: 12px;
    justify-content: space-evenly;
}

.BoxDataItem {
    font-size: 14px;
}

.BoxDataWrap {
    display: flex;
    justify-content: space-between;
}

.gZmPOF {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1160px) {
    .BoxWrapper {
        width: 100% !important;
    }
}