.LeaveComparisonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px;
    /* width: 300px; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.LeaveCompHead {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid blue;
}

.LeaveCompCont {
    width: 100%;
}