.OntimeCheckWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px;
    /* width: 300px; */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
}

.OntimeCheckCont {
    width: 100%;
}

.OntimeCheckHomeCont {
    width: 50%;
}

.OntimeCheckHead {
    width: 100%;
    display: flex;
    padding: 2px 0px;
    justify-content: space-between;
    border-bottom: 1px solid greenyellow;
}

.OntimeDateCont {
    background-color: greenyellow;
    color: black;
    padding: 0px 4px;
    border-radius: 2px;
}

.custom-tooltip {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
}

.tooltip-header {
    background-color: #3498db;
    color: #fff;
    font-weight: bold;
    margin-bottom: 8px;
    padding: 8px;
    border-radius: 4px;
}

.tooltip-content {
    display: flex;
    flex-direction: column;
}

.tooltip-item {
    background-color: #ecf0f1;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
}

.tooltip-count {
    font-weight: bold;
    color: #e74c3c;
    /* Adjust color as needed */
}

/* Customize styles according to your design preferences */