.TaskForMeWrapper {
    display: flex;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    align-items: center;
    justify-content: center;
    background-color: white;
    /* width: 300px; */
    padding: 8px;
    height: "100%"
}

.TaskForMeCont {
    width: 100%;
    height: "100%"
}

.TaskForMeHead {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid red;
    padding: 4px 0px;
}

.CreateTaskButton {
    padding: 2px 16px;
    border-radius: 4px;
    background-color: #A649DA;
    color: white;
    cursor: pointer;
}

.TaskForMeCont>table>thead {
    text-align: left;
}

.TaskForMeCont>table>tbody {
    font-size: 14px;
    text-align: left;
}

.LeftHead {
    text-align: right;
}

.TaskButtons {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.TaskView {
    padding: 2px 8px;
    border-radius: 2px;
    background-color: #0288D1;
    color: white;
}

.TaskOnG {
    padding: 2px 8px;
    border-radius: 2px;
    background-color: #E9AF28;
    color: white;
}

.TaskStart {
    padding: 2px 20px;
    border-radius: 2px;
    background-color: #61D418;
    color: white;
}

.TaskFinished {
    padding: 2px 8px;
    border-radius: 2px;
    background-color: #5D41DE;
    color: white;
}

.TaskError {
    padding: 2px 20px;
    border-radius: 2px;
    background-color: #F83838;
    color: white;
}

@media only screen and (max-width: 400px) {

    .TaskButtons {
        width: 100%;
    }

    .TaskButtons>span {
        font-size: 12px;

    }
}