.personal-box {
    /* background-color: rgb(232, 240, 248); */
    border-radius: 5px;
}

.personal-box input {
    height: 35px;
}

.sub-head {
    font-size: 14px;
}

.sub-head-scnd {
    font-size: 13px;
}

.personal label {
    font-size: 13px;
}

.personal input {
    height: 35px;
}

.create-btn .add-i {
    font-size: 25px;

}

.update-input {
    height: 30px;
}

.expantadable-box {
    background-color: rgb(210, 210, 214);
}

.expantadable-box h6 {
    font-size: 13px;
    color: rgb(80, 80, 80);
}