.RexVoucherBillTable {
    width: 100%;
    max-height: 250px;
    overflow-x: scroll;
}

@media (max-width:764px) {
    .RexVoucherBillTable {
        width: 100%;
        max-height: 250px;
        overflow-x: scroll;
    }
}