.apexcharts-menu-icon {
    display: none;
}

.apexcharts-toolbar {
    top: 1% !important;
    left: 50%;
}

.TaskGantChart {
    overflow-x: auto;
}

.TaskghantDateChangerCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.LegendUi {
    display: flex;
}

.LegendUi>div {
    margin: 2px 8px;
}

.DateChangeCont {
    display: flex;
}

.DateChangeCont>div {
    margin: 2px 8px;
}

/* .apexcharts-legend {
    display: none !important;
} */