.ExpenseWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ExpensesCont {
    width: 85%;
}

.ExpenseText {
    display: flex;
    align-items: center;
    font-weight: bold;
    text-align: left;
}

#collectionSave {
    margin-top: 12px;
}

.ExpUploadBox {
    display: flex;
    justify-content: space-between;
}

.UploadP {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 8px;
    background-color: greenyellow;
    border-radius: 4px;
    font-size: 14px;
}

.UploadP>div {
    margin-right: 4px;
    display: flex;
    align-items: center;
}

.PreviewImg {
    width: 100%;
    height: 300px;
}

.PreviewBox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    margin-bottom: 8px;
    max-width: 100%;
    overflow-x: auto;
}

.Document {
    width: 100%;
    /* Set to 100% for full width, adjust as needed */
    max-width: 800px;
    /* Set a maximum width if needed */
    margin: 0 auto;
    /* Center the PDF canvas */
}

.react-pdf__Page__canvas {
    height: 200px;
}

.pdfButtons {
    display: flex;
    justify-content: space-evenly;
}

.PdfLeft,
.PdfRight {
    padding: 8px;
    border-radius: 2px;
    background-color: green;
    color: white;
}

.UploadP {
    cursor: pointer;
}