.GroupDSGraphWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.GroupDSGraphCont {
    width: 100%;
    height: 100%;
}

.apexcharts-title-text {
    display: none;
}

.GrpDSHead {
    width: 100%;
    text-align: left;
    width: 100%;
    padding: 2px 0px;
    border-bottom: 1px solid orange;
}

.grpDataModal table thead tr th,
.grpDataModal table tbody tr td {
    white-space: nowrap;
}



.apexcharts-series.apexcharts-heatmap-series[seriesName="0-10"] rect {
    fill: #c9184a;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="10-20"] rect {
    fill: #ff4d6d;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="20-30"] rect {
    fill: #ff758f;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="30-40"] rect {
    fill: #ff8fa3;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="40-50"] rect {
    fill: #ffb3c1;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="50-60"] rect {
    fill: #c0e916;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="60-70"] rect {
    fill: #a6e311;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="70-80"] rect {
    fill: #8cdd0c;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="80-90"] rect {
    fill: #73d707;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series[seriesName="90-100"] rect {
    fill: #59d102;
    /* set the fill color to red for the rect element */
    /* add any other styling for the rect element as needed */
}

.apexcharts-series.apexcharts-heatmap-series rect[val='0'] {
    fill: white;
    /* set the fill color to white for rect elements with a value of 0 */
}