.navbar-brand>img {
    width: 80px;
    height: 50px;
}

.card {
    border-radius: 0px;
}

.SalesListWrapper {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 80px);
    /* background-color: #F2F2F2; */
    overflow-y: auto;
    background-color: #F1F1FB;
}

.SalesListCont {
    width: 95%;
    display: grid;
    gap: 0.8em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    padding-top: 12px;
}


.SalesListCardContainer {
    grid-column: span 12;
    overflow-x: auto;
    padding: 10px;
}

.SalesListCardCounts {
    display: grid;
    gap: 0.8em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(70, 1fr);
    grid-auto-flow: dense;
    grid-column: span 70;
}

.SalesChip {
    overflow-x: auto;
    margin-bottom: 8px;
}

.SalesCardCountCont {
    display: grid;
    gap: 0.8em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: dense;
    padding: 4px 0px;
}

.ChipCard {
    grid-column: span 1;
    display: flex;
    background-color: #E5EBED;
    padding: 8px;
    justify-content: space-between;
    border-radius: 4px;
    cursor: pointer;
}

.ChipCard:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ChipCard>span {
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E13531;
}

.ChipCard>div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}



.AllCount,
.NegCount,
.ProposalCount,
.DemoCount,
.LQCount,
.ProspectingCount,
.OppWonCount {
    /* width: 15%; */
    grid-column: span 10;
    padding: 12px;
    color: white;
    /* margin: 8px; */
    cursor: pointer;
}

.AllCount:hover,
.NegCount:hover,
.ProposalCount:hover,
.DemoCount:hover,
.LQCount:hover,
.ProspectingCount:hover,
.OppWonCount:hover {
    box-shadow: 0 3px 6px rgba(49, 190, 255, 0.16), 0 3px 6px rgba(0, 116, 248, 0.23);
    /* Adjust shadow values as needed */
}


.AllCount {
    background-color: #FD9826;
}

.NegCount {
    background-color: #4055B2;
}

.ProposalCount {
    background-color: #4FAF53;
}

.DemoCount {
    background-color: #FFD452;
}

.LQCount {
    background-color: #E39801;
}

.ProspectingCount {
    background-color: #E13531;
}

.OppWonCount {
    background-color: #6E0611;
}

.CountDiv {
    margin-top: 4px;
    font-size: 24px;
}

.card {
    margin-top: 12px;
    grid-column: span 12;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.TodaysFollowUps {
    grid-column: span 12;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.Calendar {
    grid-column: span 5;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.react-calendar {
    width: 100% !important;
    height: 100%;
}

.CalendarFollowUp {
    grid-column: span 7;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.TargetAchievedGraph {
    grid-column: span 6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.GroupDSGraph {
    grid-column: span 6;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.EmpTable {
    grid-column: span 6;
    height: auto;
    max-height: 400px;
    overflow-y: scroll;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}


.FollowUpForm {
    grid-column: span 6;
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.LeadQualification {
    grid-column: span 6;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* table data sales */

.SalesCardHeader {
    display: flex;
    justify-content: space-between;
}

.SalesText {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.SalesFilterCont {
    display: flex;
    justify-content: space-between;
    width: 35%;
    font-size: 22px;
}

.NewProsButon {
    background-color: #4FAF53;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.NewProsButon:hover {
    background-color: #29c72e;
}

.ToDaysFUPButon {
    background-color: #E5EBED;
    color: black;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.ToDaysFUPButon:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.SelectedTodaysFollowUp {
    background-color: #0070D8;
    color: white;
}

.SalesListFilterCont {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #D5D5F1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.SalesTableCont {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}

.Table-Responsive {
    width: 100%;
}

.SalesTableCont>.Table-Responsive>table>tbody>tr:hover {
    cursor: pointer;
    background-color: #F6F6F6 !important;
}

.SalesDropWrapper {
    margin: 4px 0 4px;
    background-color: #F6F6F6;
    display: flex;
    justify-content: center;
}

.SalesDropCont {
    background-color: #F6F6F6;
    width: 90%;
}


.SalesDropWrapper {
    width: 100%;
    background-color: #F6F6F6;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.SalesDropTable1>table {
    background-color: #F6F6F6;
}

/* .SalesDropTable1>table>thead>tr>th {
    background-color: #F6F6F6;
} */

.SalesDropTable1>table>tbody>tr>td {
    background-color: #F6F6F6;
}

.SalesDropTable2>table {
    background-color: #F6F6F6;
}

.SalesDropTable2>table>thead>tr>th {
    background-color: #575757;
    color: white;
}

.SalesDropTable2>table>tbody>tr>td {
    background-color: #F6F6F6;
}

.QkOverText,
.FolloUpText {
    display: flex;
    justify-content: center;
    color: #AD6464;
    font-size: 18px;
}

.SalesListCont>.card {
    height: auto;
    max-height: 500px;
    /* overflow-y: scroll; */
}

.SelectedDiv {
    background-color: #26BE96;
    color: white;
}

#funnelFilterBody {
    display: grid;
    gap: 0.8em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-flow: dense;
    padding-top: 12px;
    background-color: #F6F8FA;
}

#funnelFilterBody>div {
    grid-column: span 4;
}


.Table-Responsive {
    overflow-x: auto;
    width: 100%;
    /* max-width: ; */
}

.Table-Responsive th,
.Table-Responsive td {
    text-align: left;
    font-size: 16px;
    /* min-width: 100px; */
    /* Set a minimum width for your cells */
    white-space: nowrap;
    /* Prevent line breaks */
}

.KanBanButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.srchCollapse {
    display: flex;
    justify-content: end;
    margin: 4px 0px 0px 0px;
}

.srchCollapse>.card {
    width: 50%;
}

.SrchClose {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #D5D5F1;
    right: 5px;
    top: 6px;
    cursor: pointer;
}

.UnattendedFollowUps {
    background-color: #ff4d6d;
    color: white;
    width: 100%;
}

.TSNegotiation {
    background-color: #4055B2 !important;
    color: white !important;
    /* border-radius: 6px; */
}

.TSProposal {
    background-color: #FD9826 !important;
    color: white !important;
    /* border-radius: 6px; */
}

.TSProspecting {
    background-color: #4FAF53 !important;
    color: white !important;
    /* border-radius: 6px; */
}

.TSDemo {
    background-color: #ffcf40 !important;
    color: white !important;
    /* border-radius: 6px; */
}

.TSLead.Qualification {
    background-color: #E39801 !important;
    color: white !important;
    /* border-radius: 6px; */
}

.TSOpportunity.Won {
    background-color: #6E0611 !important;
    color: white !important;
    /* border-radius: 6px; */
}

.AgeInDays {
    background-color: #ff8fa3 !important;
    color: white !important;
}

.GoBackFromCrm {
    position: absolute;
    top: 60px;
    padding: 8px;
    background-color: #29c72e;
    color: white;
}

.crmOverallWrapper {
    display: flex;
    justify-content: space-between;
    background-color: #F1F1FB;
}


@media (max-width:900px) {

    .Table-Responsive th,
    .Table-Responsive td {
        text-align: left;
        /* min-width: 100px; */
        /* Set a minimum width for your cells */
        white-space: nowrap;
        /* Prevent line breaks */
    }

    /* .AllCount,
    .NegCount,
    .ProposalCount,
    .DemoCount,
    .LQCount,
    .ProspectingCount,
    .OppWonCount {
        grid-column: span 4;
    } */
}

@media (max-width:845px) {

    .card {
        height: auto;
        /* max-height: 500px; */
        overflow-y: scroll;
    }

    /* .SalesTableCont {
        width: 100%;
        overflow-y: scroll;
    } */

    .Table-Responsive {
        overflow-x: auto;
        width: 100%;
        /* max-width: ; */
    }

    .Table-Responsive th,
    .Table-Responsive td {
        text-align: left;
        /* min-width: 100px; */
        /* Set a minimum width for your cells */
        white-space: nowrap;
        /* Prevent line breaks */
    }

    .SalesDropCont {
        width: 98%;
    }

    .QkOverText,
    .FolloUpText {
        justify-content: left;
    }

    .Calendar,
    .CalendarFollowUp,
    .TargetAchievedGraph,
    .GroupDSGraph,
    .LeadQualification {
        grid-column: span 12;
    }

    .EmpTable {
        grid-column: span 12;
    }

    /* .SalesTableCont thead,
    .SalesTableCont th {
        display: none;
    }

    .SalesTableCont tr,
    .SalesTableCont td {
        display: block;
    }

    .SalesTableCont tr {
        border: 1px solid rgba(0, 0, 0, .15);
        margin-bottom: 2rem;
    }

    .SalesTableCont tr:last-child {
        margin-bottom: 0;
    }

    .SalesTableCont tr:nth-child(even) td {
        background-color: transparent;
    }

    .SalesTableCont td {
        clear: both;
        text-align: right;
    }

    .SalesTableCont td:before {
        content: attr(data-label)': ';
        float: left;
        font-weight: bold;
        margin-right: 1rem;
    }
 */
    .SalesFilterCont {
        width: 74%;
    }
}


@media (max-width:480px) {
    .SalesFilterCont {
        width: 75%;
    }

    .NewProsButon {
        padding: 4px 6px;
    }

    .ToDaysFUPButon {
        padding: 4px 6px;
    }

    #funnelFilterBody>div {
        grid-column: span 6;
    }

    .srchCollapse>.card {
        width: 70% !important;
    }
}

@media (max-width:364px) {
    #funnelFilterBody>div {
        grid-column: span 12;
    }
}