.StaffDetTabWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #F7F7F7;
}

.StaffDetTabCont {
    width: 85%;
}

.StaffTargetCont,
.BookingStaff {
    margin-top: 12px;
    margin-bottom: 12px;
    background-color: white;
    padding: 8px;
}

.StaffTargetTop,
.StaffTargetMid,
.StaffTargetBott {
    display: flex;
    justify-content: space-between;
    margin: 14px;
}

.TargetText {
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.TargetAdd {
    background-color: black;
    color: white;
    padding: 4px;
    display: flex;
    align-items: center;
    font-size: 16px;
    border-radius: 2px;
    cursor: pointer;
}

.achievedText {
    font-size: 14px;
    color: gray;
    display: flex;
    align-items: center;
}

.targetAmnt {
    width: auto;
    display: flex;
}

.TargetNum {
    font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}

.StaffTargetBott {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.BookText {
    display: flex;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
}

.wipImg {
    width: 80px;
    height: 80px;
}

.DatasheetCont {
    margin-top: 14px;
    width: 97%;
    background-color: #e4e4e4;
    display: flex;
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    padding: 4px;
}

#targetDateButton {
    font-size: 12px;
}