.TaskWrapper {
    width: 100%;
}

.TaskHead {
    display: flex;
    justify-content: center;
}

.TaskForMe {
    display: flex;
    align-items: center;
    padding: 8px;
    background-color: #E2C275;
}

.TaskForMe>span {
    margin-right: 8px;
    font-weight: bold;
}

.TaskForMe #arrowRight {
    font-size: 22px;
}

.TaskFormCont {
    display: flex;
    justify-content: center;
    width: 100%;
}

.TaskCont {
    width: 85%;
    margin-top: 8px;
}

.CreateTask {
    width: 50%;
    font-weight: bold;
    text-align: left;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="radio"]:checked+label,
[type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: black;
}

[type="radio"]:checked+label:before,
[type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

[type="radio"]:checked+label:after,
[type="radio"]:not(:checked)+label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #F87DA9;
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="radio"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.TaskRadio {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}

.TaskRadio>div {
    width: 50%;
    text-align: left;
    margin: 6px;
}

.input-container {
    width: 95%;
    margin-top: 14px;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

.input-field .input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
}

.label {
    font-size: 12px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: 0.3s ease-out;
}

.input:focus+.label,
.input:not(:placeholder-shown)+.label {
    top: 5px;
    font-size: 12px;
    color: #007bff;
    /* Change the color as per your design */
}

.TaskSaveBtton {
    display: flex;
    justify-content: center;
}

.save-button {
    width: 40%;
    display: inline-block;
    padding: 10px 20px;
    background-color: #273238;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-button:hover {
    background-color: #455a64;
    /* Change the color on hover if desired */
}