.BigCalendarWrapper {
    min-height: 100vh;
    /* overflow-y: auto; */
}

.rbc-overlay {
    z-index: 5;
}

.popCloseBtn {
    border: none;
    background-color: rgb(255, 96, 96);
    color: white;
}

.LeaveEmployee {
    padding: 8px;
    background-color: #EBF2FF;
    color: #196DFB;
}

@media (max-width:565px) {
    .rbc-overlay {
        left: 25% !important;
    }
}