.LeavePageWrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #EDEFFB;
    background-color: white;
    padding-top: 10px;
}

.LeavePageCont {
    width: 95%;
    padding: 12px;
    display: grid;
    /* padding: 0.2em; */
    gap: 0.8em;
    grid-auto-rows: auto;
    grid-template-columns: repeat(8, 1fr);
    /* grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr); */
    /* grid-template-rows: repeat(100px, 1fr); */
    grid-auto-flow: dense;
    /* background-color: white; */
    /* box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); */
}

.LeaveReq {
    grid-column: 3/7;
}

.LeaveSpan3,
.LeaveSpan4,
.EmpOnLeave {
    grid-column: span 4;
    height: auto;
    max-height: 450px;
    overflow-y: scroll;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* .LeaveSpan4 {
    grid-column: span 5;
    height: auto;
    max-height: 450px;
    overflow-y: scroll;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */

.LeaveFilter {
    grid-column: span 8;
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 12px 22px;
    border-radius: 4px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.LeaveCount {
    grid-column: span 4;
    height: auto;
    max-height: 450px;
    overflow-y: scroll;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.dropCont {
    width: 55%;
    display: flex;
    justify-content: space-between;
}

.dropdown-menu {
    height: auto;
    max-height: 350px;
    overflow-y: scroll;
}

.LeaveManageText {
    width: 100%;
    display: flex;
    justify-content: left;
    font-size: 18px;
    font-weight: bold;
    padding-left: 12px;
}

@media (max-width:900px) {

    .LeaveSpan3,
    .LeaveSpan4,
    .EmpOnLeave {
        grid-column: span 8;
    }

    .LeaveCount {
        grid-column: span 8;
    }

    .LeaveReq {
        grid-column: span 8;
    }
}

@media (max-width:600px) {
    .dropCont {
        width: 85%;
    }

    .LeavePageCont {
        width: 100%;
    }
}