.picking_list_main_container {
    height: 100vh;
    overflow-y: scroll;
}

.table_picking_list {
    width: 100%;
}

.table_picking_list>thead>tr>th {
    padding: 6px 8px;
}

.single_row_picking_list_table {
    cursor: pointer;
    background-color: aliceblue;
}

.single_row_picking_list_table>td {
    padding: 6px 8px;
}

.single_row_picking_list_table:hover {
    background-color: #000000;
    color: #ffffff;
}

.loading-panel {
    display: flex;
    align-items: center;
}