.MoveTopOptions {
    display: flex;
    justify-content: space-between;
}

.MOLeft,
.MORight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

@media (max-width:502px) {
    .MoveTopOptions {
        flex-direction: column;
    }
}