.carton_chip {
    background-color: #ad8762;
    border-radius: 5px;
    border: 2px solid #8e6b4a;
}

.PickingList-main-container {
    height: 100vh;
    overflow-y: auto;
}

.panel_of_items_and_its_cartons {
    background-color: aliceblue;
}

.PickingListDetails_create_carton_panel {
    display: flex;
    justify-content: space-between;
    width: 50%;
    padding: 0px 20px;
}

.PickingListDetails_create_carton_panel_cta {
    display: flex;
    justify-content: right;
}

.PickingListDetails_create_carton_panel_cta button,
.view-cartonwise {
    width: 100px;
    height: 30px;
    padding: 0px;
}

.PickingListDetails_create_carton_panel input {
    width: 40%;
    border: 0px;
    border-bottom: 2px solid #d5d5d5;
    padding: 5px;
}

.card_board_bg {
    background-color: #cfcb9c;
    padding: 3px 5px;
    border-radius: 3px;
}

.card_board_bg_value {
    padding: 0px 5px;
    font-weight: 600;
    font-size: 18px;
    color: #ebebeb;
}

.PickingListDetails_carton-container {
    background-color: aliceblue;
    padding: 10px;
    background: url("../img/header_bg.svg");
}

.current_selected_part {
    width: 30px;
    position: absolute;
    left: -6px;
}

.PickingListDetailsTable {
    width: 100%;
}

.PickingListDetailsTable tbody tr td {
    padding: 5px 10px;
}

.PickingListDetailsTable tbody:nth-child(even) {
    background-color: #edeeef;
}

.PickingListDetailsTable tbody:nth-child(odd) {
    background-color: #dedede;
}

.span_select_item_code {
    background-color: #e5e5e5;
    padding: 1px;
    position: absolute;
    z-index: 3;
    top: 26px;
    left: 0px;
    width: 300px;
    height: 300px;
    overflow-y: scroll;
}

.search_list_item_code {
    font-size: 15px;
    color: #b8b8b8;
    font-weight: 500;
}

.search_list_item_description {
    font-size: 15px;
    color: #ffffff;
    font-weight: 400;
}

.span_select_item_code_single_row {
    padding: 5px;
    background-color: #575555;
    border: 1px solid #ffffff;
}

.item_dropdown_wrapper {
    border: 1px solid #ededed;
    background-color: #dcdcdc;
    border-radius: 5px;
}

.cartonwise_table {
    width: 100%;
}

.cartonwise_table tbody tr td {
    padding: 2px 10px;
}

.cartonwise_table tbody tr:nth-child(even) {
    background-color: inherit;
}

.cartonwise_table tbody:nth-child(even) {
    background-color: #f0f0f0;
}

.cartonwise_table tbody:nth-child(odd) {
    background-color: #dedede;
}

.delete_carton {
    width: 28px;
}

.cartonwise_value_container {
    padding: 2px;
}

.PickingListDetails_code_caron_qty_panel {
    display: flex;
    align-items: end;
}

.PickingListDetails_select_code_dropdown {
    width: 100%;
    padding: 5px;
}

.carton_wise_heading_and_list_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Carton_list_container {
    position: absolute;
    background-color: #ededed;
    min-width: 70px;
    padding: 2px 4px;
}

.PickingListDetails_table_holder,
.cartonwise_table_container {
    width: 100%;
    overflow: scroll;
    height: 300px;
}

.Carton_list_container div {
    padding: 2px 4px;
}

.Carton_wise_cta_button {
    width: 80px;
    height: 30px;
    padding: 0px;
}

.PickingListDetails-Popup-outer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 3;
    top: 0px;
    left: 0px;
    background-color: #00000090;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PickingListDetails-Popup-inner {
    width: 80%;
    max-height: 80%;
    padding: 20px;
    background-color: #ffffff;
}

.container-for-scan-and-dropdown {
    display: flex;
    flex-direction: column;
}

.picking_list_code_options {
    align-items: center;
}

.dropdown_pick_list_details {
    width: 20px;
}

.total_row_bg_color {
    color: #ff0000;
    font-weight: 700;
}

.total_row_label {
    text-align: right;
}

.total_row_bg_color img {
    width: 10px;
}

.carton_dropdown_item {
    background-color: #f7f7f7;
    padding: 4px 20px;
    margin: 1px;
}

.carton_list_dropdown {
    position: absolute;
    background-color: #767676;
    padding: 2px 2px;
    height: 250px;
    overflow-y: scroll;
    min-width: 100px;
    z-index: 2;
}

.carton_list_dropdown_img {
    width: 20px;
}

.selected_carton_button {
    min-width: 100px;
}

.qrcode_image {
    width: 40px;
    background-color: #ffffff;
    padding: 2px;
}

.qrcode_download_icon {
    width: 20px;
}

.carton_number_column {
    text-align: center;
    position: relative;
}

.qrcode__image {
    background-color: #ffffff;
    padding: 8px;
    display: inline-block;
}

.icon_of_downloader {
    justify-content: center;
    align-items: center;
}

.qr_code_downloader_container {
    text-align: center;
}

.canvas_in_html {
    width: 1px;
    height: 1px;
}

.pickinglist_number_panel {
    border: 2px solid #f7f7f7;
}

@media (min-width:768px) and (max-width:991.98px) {
    .PickingListDetails_code_caron_qty_panel {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        width: 100%;
    }

    .item_dropdown_wrapper {
        border: 1px solid #ededed;
        width: 100%;
    }

    .PickingListDetails_create_carton_panel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 0px;
    }

    .PickingListDetails_create_carton_panel_cta {
        margin-top: 10px;
    }

    .PickingListDetails_create_carton_panel input {
        width: 50%;
        border: 0px;
        border-bottom: 2px solid #d5d5d5;
        padding: 5px;
        margin: 0px 10px;
    }

    .scan_and_select_panel {
        width: 100%;
    }

    .span_select_item_code {
        width: 100%;
    }

    .container-for-scan-and-dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (min-width:575.98px) and (max-width:767.98px) {
    .PickingListDetails_code_caron_qty_panel {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        width: 100%;
    }

    .item_dropdown_wrapper {
        border: 1px solid #ededed;
        width: 100%;
    }

    .PickingListDetails_create_carton_panel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 0px;
    }

    .PickingListDetails_create_carton_panel_cta {
        margin-top: 10px;
    }

    .PickingListDetails_create_carton_panel input {
        width: 50%;
        border: 0px;
        border-bottom: 2px solid #d5d5d5;
        padding: 5px;
        margin: 0px 10px;
    }

    .scan_and_select_panel {
        width: 100%;
    }

    .span_select_item_code {
        width: 100%;
    }

    .container-for-scan-and-dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media (max-width:575.98px) {
    .PickingListDetails_code_caron_qty_panel {
        display: flex;
        /* align-items: center; */
        flex-direction: column;
        width: 100%;
    }

    .item_dropdown_wrapper {
        border: 1px solid #ededed;
        width: 100%;
    }

    .PickingListDetails_create_carton_panel {
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0px 0px;
    }

    .PickingListDetails_create_carton_panel_cta {
        margin-top: 10px;
    }

    .PickingListDetails_create_carton_panel input {
        width: 50%;
        border: 0px;
        border-bottom: 2px solid #d5d5d5;
        padding: 5px;
        margin: 0px 10px;
    }

    .scan_and_select_panel {
        width: 100%;
    }

    .span_select_item_code {
        width: 100%;
    }

    .container-for-scan-and-dropdown {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}